/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body{
	margin: 0;
	padding: 0;
	background: #FDFFF2;
}

.cover {
	background: url('../img/fondo-header.jpg') no-repeat fixed center top ;
	background-size: cover;
}

.curso{
	width: 90%;
	height: 300px;
	margin: 10px auto;
	background: #18F1BB;
}
.curso:hover{
	background-color: #44ECE3;
}

.habilidades, footer{
	background-color: #212121;
	color: #FDFFF2;
}

.certificados{
	background-color: #44A1EC;
}






/*======================================

MEDIA QUERIES

=======================================*/
@media screen and (max-width: 767px) {
	.curso{
		width: 100%;
		margin: 10px auto;
	}
}

@media screen and (min-width: 768px), and (max-width: 790px) {
	div#myNavbar li a {
		padding: 15px 10px;
	}
}


@media screen and (max-height: 556px){
	.curso{
		height: 250px;
	}
}